@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-Light/Lato-Light.eot");
  src: url("../fonts/Lato-Light/Lato-Light.eot") format("embedded-opentype"), url("../fonts/Lato-Light/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic/Lato-Italic.eot");
  src: url("../fonts/Lato-Italic/Lato-Italic.eot") format("embedded-opentype"), url("../fonts/Lato-Italic/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic/Lato-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold/Lato-Bold.eot") format("embedded-opentype"), url("../fonts/Lato-Bold/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black/Lato-Black.eot");
  src: url("../fonts/Lato-Black/Lato-Black.eot") format("embedded-opentype"), url("../fonts/Lato-Black/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Medium";
  src: url("../fonts/Lato-Medium/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium/Lato-Medium.eot") format("embedded-opentype"), url("../fonts/Lato-Medium/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Semibold";
  src: url("../fonts/Lato-Semibold/Lato-Semibold.eot");
  src: url("../fonts/Lato-Semibold/Lato-Semibold.eot") format("embedded-opentype"), url("../fonts/Lato-Semibold/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Heavy";
  src: url("../fonts/Lato-Heavy/Lato-Heavy.eot");
  src: url("../fonts/Lato-Heavy/Lato-Heavy.eot") format("embedded-opentype"), url("../fonts/Lato-Heavy/Lato-Heavy.woff") format("woff"), url("../fonts/Lato-Heavy/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato-Hairline";
  src: url("../fonts/Lato-Hairline/Lato-Hairline.eot");
  src: url("../fonts/Lato-Hairline/Lato-Hairline.eot") format("embedded-opentype"), url("../fonts/Lato-Hairline/Lato-Hairline.woff") format("woff"), url("../fonts/Lato-Hairline/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Drugs";
  src: url("../fonts/Drugs/Drugs.eot");
  src: url("../fonts/Drugs/Drugs.eot") format("embedded-opentype"), url("../fonts/Drugs/Drugs.woff") format("woff"), url("../fonts/Drugs/Drugs.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
.section_padding-db-header_bottom2 {
  display: none;
  background: #474343;
  font-family: "Lato-Light";
  text-align: center; }
  .section_padding-db-header_bottom2 ul {
    max-width: 1750px;
    margin: 0 auto; }
    .section_padding-db-header_bottom2 ul li {
      padding: 19px;
      display: block; }
      .section_padding-db-header_bottom2 ul li a {
        color: #fff;
        font-size: 19px; }

@media only screen and (min-width: 1248px) {
  .section_padding-db-header_bottom2 {
    display: block;
    padding: 30px 0 20px 0 !important; }
    .section_padding-db-header_bottom2 li {
      padding-left: 80px !important;
      display: inline-block !important; }
    .section_padding-db-header_bottom2 li:first-child {
      padding-left: unset !important; } }
.dc_footer_view {
  background: #ffffff;
  text-align: center; }
  .dc_footer_view .dc_footer_hr {
    color: #e5e5e5;
    background-color: #e5e5e5;
    width: 90%; }
  .dc_footer_view a {
    color: #1f191a;
    font-family: "Lato-Light";
    font-size: 30px;
    font-weight: 300;
    line-height: 43px; }
  .dc_footer_view .dc-socitem {
    display: inline-block;
    height: 51px;
    width: 51px;
    margin-top: 18px; }
  .dc_footer_view .dc-instagram {
    background: url("../images/dc-instagram-mobile.png") no-repeat top center; }
  .dc_footer_view .dc-facebook {
    background: url("../images/dc-facebook-mobile.png") no-repeat top center; }

.dc_about_view {
  text-align: center; }
  .dc_about_view .dc-about-text {
    text-align: justify;
    color: #2e2834;
    font-family: "Lato-Light";
    font-size: 20px;
    font-weight: 300;
    line-height: 61px;
    margin-bottom: 80px; }
  .dc_about_view .dc-about-text2 {
    color: #1f191a;
    font-family: "Lato-Light";
    font-size: 24px;
    font-weight: 300;
    line-height: 37px; }
  .dc_about_view .dc-about-title {
    color: #1f191a;
    font-family: "Lato-Bold";
    font-size: 28px;
    font-weight: 700;
    line-height: 30px; }
  .dc_about_view .dc-about-hr {
    color: #f57365;
    background-color: #f57365;
    width: 90px; }
  .dc_about_view .dc-how {
    background: #f2f3f2; }

.dc_nabory_view {
  text-align: center;
  /* ╨б╨║╤А╤Л╨▓╨░╨╡╨╝ ╤А╨╡╨░╨╗╤М╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б */
  /* ╨Ч╨░╨┤╨░╨╡╨╝ ╨▓╨╜╨╡╤И╨╜╨╕╨╣ ╨▓╨╕╨┤ ╨┤╨╗╤П ╨╜╨░╤И╨╡╨│╨╛ ╨║╨░╤Б╤В╨╛╨╝╨╜╨╛╨│╨╛ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░. ╨Т╤Б╨╡ ╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╤М╨╜╤Л╨╡ ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨░ ╨┐╤А╨╛╨║╨╛╨╝╨╝╨╡╨╜╤В╨╕╤А╨╛╨▓╨░╨╜╤Л, ╨╛╤Б╤В╨░╨╗╤М╨╜╤Л╨╡ ╨╢╨╡ ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨░ ╨╝╨╡╨╜╤П╨╣╤В╨╡ ╨┐╨╛ ╨▓╨░╤И╨╡╨╝╤Г ╤Г╤Б╨╝╨╛╤В╤А╨╡╨╜╨╕╤О */
  /* ╨Ъ╨░╤Б╤В╨╛╨╝╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б ╨╕ ╨╗╨╡╨╣╨▒╨╗ ╤Ж╨╡╨╜╤В╤А╨╕╤А╤Г╨╡╨╝ ╨┐╨╛ ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╨╕. ╨Х╤Б╨╗╨╕ ╨▓╨░╨╝ ╤Н╤В╨╛ ╨╜╨╡ ╤В╤А╨╡╨▒╤Г╨╡╤В╤Б╤П, ╤В╨╛ ╨▓╤Л ╨╝╨╛╨╢╨╡╤В╨╡ ╤Г╨▒╤А╨░╤В╤М ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨╛ vertical-align: middle ╨╕╨╖ ╨┤╨░╨╜╨╜╨╛╨│╨╛ ╨┐╤А╨░╨▓╨╕╨╗╨░, ╨╜╨╛ ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨╛ display: inline-block ╨╛╨▒╤П╨╖╨░╤В╨╡╨╗╤М╨╜╨╛ ╨┤╨╛╨╗╨╢╨╜╨╛ ╨▒╤Л╤В╤М */
  /* ╨Х╤Б╨╗╨╕ ╤А╨╡╨░╨╗╤М╨╜╤Л╨╣ ╤З╨╡╨║╨▒╨╛╨║╤Б ╤Г ╨╜╨░╤Б ╨╛╤В╨╝╨╡╤З╨╡╨╜, ╤В╨╛ ╤В╨╛╨│╨┤╨░ ╨┤╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╨┤╨░╨╜╨╜╤Л╨╣ ╨┐╤А╨╕╨╖╨╜╨░╨║ ╨╕ ╨║ ╨╜╨░╤И╨╡╨╝╤Г ╨║╨░╤Б╤В╨╛╨╝╨╜╨╛╨╝╤Г ╤З╨╡╨║╨▒╨╛╨║╤Б╤Г  */ }
  .dc_nabory_view .dc-nabory-text {
    text-align: justify;
    color: #2e2834;
    font-family: "Lato-Light";
    font-size: 20px;
    font-weight: 300;
    line-height: 61px;
    margin-bottom: 80px; }
  .dc_nabory_view .dc-nabory-choose {
    color: #333;
    font-family: "Lato-Semibold";
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 5px; }
  .dc_nabory_view .dc-nabory-select_and_choose {
    background: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px; }
  .dc_nabory_view .dc-nabory-menu {
    color: #3b3b3b;
    font-family: "Lato-Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 60px; }
  .dc_nabory_view .dc-nabory-hr {
    color: #e5e3e3;
    background: #e5e3e3;
    width: 0px; }
  .dc_nabory_view .dc-nabory-image {
    width: 130%; }
  .dc_nabory_view .dc-nabory-title {
    color: #1a1a1a;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Lato-Bold";
    font-weight: 700;
    text-align: left; }
  .dc_nabory_view .dc-nabory-text2 {
    color: #1a1a1a;
    font-family: "Lato-Regular";
    font-size: 20px;
    font-weight: 400;
    text-align: justify; }
  .dc_nabory_view .dc-nabory-block-hr2 {
    text-align: left; }
    .dc_nabory_view .dc-nabory-block-hr2 .dc-nabory-hr-2 {
      width: 200px; }
  .dc_nabory_view .dc-nabory-show {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px; }
    .dc_nabory_view .dc-nabory-show .dc-nabory-show-list {
      color: #52ac62;
      text-decoration: none;
      border-bottom: 1px dashed #52ac62;
      font-family: "Lato-Heavy";
      font-size: 24px;
      font-weight: 800; }
    .dc_nabory_view .dc-nabory-show .dc-nabory-show-list2 {
      color: #ff6633;
      text-decoration: none;
      border-bottom: 1px dashed #ff6633;
      font-family: "Lato-Heavy";
      font-size: 24px;
      font-weight: 800; }
  .dc_nabory_view .dc-nabory-to-basket {
    text-align: left; }
  .dc_nabory_view .for_padding {
    padding-bottom: 46px;
    padding-top: 46px; }
  .dc_nabory_view .for_padding:nth-child(odd) {
    background: #f3f3f3; }
  .dc_nabory_view .dc-nabory-to-basket-padding {
    margin-top: 100px; }
  .dc_nabory_view .checkbox {
    display: none; }
  .dc_nabory_view .checkbox-custom {
    position: relative;
    /* ╨Ю╨▒╤П╨╖╨░╤В╨╡╨╗╤М╨╜╨╛ ╨╖╨░╨┤╨░╨╡╨╝, ╤З╤В╨╛╨▒╤Л ╨╝╤Л ╨╝╨╛╨│╨╗╨╕ ╨░╨▒╤Б╨╛╨╗╤О╤В╨╜╤Л╨╝ ╨╛╨▒╤А╨░╨╖╨╛╨╝ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╤В╤М ╨┐╤Б╨╡╨▓╨┤╨╛╤Н╨╗╨╡╨╝╨╡╨╜╤В ╨▓╨╜╤О╤В╤А╨╕ ╨╜╨░╤И╨╡╨│╨╛ ╨║╨░╤Б╤В╨╛╨╝╨╜╨╛╨│╨╛ ╤З╨╡╨║╨▒╨╛╨║╤Б╨░ */
    width: 38px;
    height: 35px;
    background-color: white;
    border: 1px solid #1f191a;
    border-radius: 0px;
    margin-top: 7px; }
  .dc_nabory_view .checkbox-custom,
  .dc_nabory_view .label {
    display: inline-block;
    vertical-align: middle; }
  .dc_nabory_view .checkbox:checked + .checkbox-custom::before {
    content: "";
    /* ╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╨╜╨░╤И ╨┐╤Б╨╡╨▓╨┤╨╛╤Н╨╗╨╡╨╝╨╡╨╜╤В */
    display: block;
    /* ╨Ф╨╡╨╗╨░╨╡╨╝ ╨╡╨│╨╛ ╨▒╨╗╨╛╤З╨╜╤Л╨╝ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨╛╨╝ */
    position: absolute;
    /* ╨Я╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╤Г╨╡╨╝ ╨╡╨│╨╛ ╨░╨▒╤Б╨╛╨╗╤О╤В╨╜╤Л╨╝ ╨╛╨▒╤А╨░╨╖╨╛╨╝ */
    /* ╨Ч╨░╨┤╨░╨╡╨╝ ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨╛╤В ╨▓╨╡╤А╤Е╨╜╨╡╨╣, ╨┐╤А╨░╨▓╨╛╨╣, ╨╜╨╕╨╢╨╜╨╡╨╣ ╨╕ ╨╗╨╡╨▓╨╛╨╣ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
    top: -2px;
    right: -5px;
    bottom: -2px;
    left: -2px;
    background: white url("../images/dc-checkbox.png") no-repeat;
    /* ╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╤Д╨╛╨╜. ╨Х╤Б╨╗╨╕ ╤В╤А╨╡╨▒╤Г╨╡╤В╤Б╤П, ╨╝╨╛╨╢╨╡╤В╨╡ ╨┐╨╛╤Б╤В╨░╨▓╨╕╤В╤М ╤Б╤О╨┤╨░ ╨║╨░╤А╤В╨╕╨╜╨║╤Г ╨▓ ╨▓╨╕╨┤╨╡ "╨│╨░╨╗╨╛╤З╨║╨╕", ╨║╨╛╤В╨╛╤А╨░╤П ╨▒╤Г╨┤╨╡╤В ╤Б╨╕╨╝╨▓╨╛╨╗╨╕╨╖╨╕╤А╨╛╨▓╨░╤В╤М, ╤З╤В╨╛ ╤З╨╡╨║╨▒╨╛╨║╤Б ╨╛╤В╨╝╨╡╤З╨╡╨╜ */ }
  .dc_nabory_view .dc-wine {
    color: #333;
    font-family: "Lato-Regular";
    font-weight: 400;
    line-height: 18px;
    font-size: 20px;
    margin-left: 20px; }
  .dc_nabory_view .dc-wine-small {
    color: #333;
    font-family: "Lato-Regular";
    font-weight: 400;
    line-height: 10px;
    font-size: 18px;
    margin-left: 68px; }
  .dc_nabory_view .dc-ul {
    margin: 0;
    padding: 0;
    text-align: left; }
  .dc_nabory_view .dc-li:nth-child(even) {
    background: #f2f3f2; }
  .dc_nabory_view .dc-li1:nth-child(even) {
    background: white; }
  .dc_nabory_view .dc-li {
    height: 64px; }
  .dc_nabory_view .dc-li1 {
    height: 64px; }

.dc_owr_nabory_view {
  text-align: center; }
  .dc_owr_nabory_view .dc-our-kits-image {
    border-radius: 3px;
    box-shadow: 4px 0 16.4px 1.6px rgba(0, 0, 0, 0.2);
    width: 80%; }
  .dc_owr_nabory_view .dc-our-title {
    color: #1f191a;
    font-family: "Lato-Bold";
    font-size: 22px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 25px;
    margin-bottom: 35px;
    height: 30px; }
  .dc_owr_nabory_view .dc-our-text {
    color: #1f191a;
    font-family: "Lato-Light";
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 30px; }

.header__popup {
  display: none;
  background: #ffffff;
  z-index: 100;
  position: absolute;
  left: 25%;
  top: 120px;
  overflow: auto;
  height: 660px;
  width: 70%; }
  .header__popup .button-6 {
    width: 316px;
    height: 66px;
    margin-top: 45px;
    background: #52ac62; }
  .header__popup .header__buttons .button-7 {
    background: #ff6633; }
  .header__popup .header__buttons .button-8 {
    background: #52ac62; }
  .header__popup .header__buttons .button-9 {
    width: 258px;
    height: 57px;
    border: none;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 55px;
    margin-right: 55px;
    color: white;
    font-family: "Lato-Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 43px; }
  .header__popup .header__wine {
    color: #333;
    font-family: "Lato-Semibold";
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 20px; }
  .header__popup .header__wine_small {
    color: #372c2e;
    font-family: "Lato-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 20px;
    margin-bottom: 20px; }
  .header__popup .header__dollar {
    color: #555;
    font-family: "Lato-Medium";
    font-size: 18px;
    font-weight: 500;
    margin-top: 50px; }
  .header__popup .header__widget {
    color: #333;
    font-family: "Lato-Bold";
    font-size: 17px;
    font-weight: 700;
    line-height: 17px; }
  .header__popup .for_padding {
    margin-top: 40px; }
  .header__popup .header__footer {
    background: #f9f9f9; }
  .header__popup .header__all {
    color: #2e2834;
    font-family: "Lato-Bold";
    font-size: 19px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin-left: 20px; }
  .header__popup .header__count {
    color: #2e2834;
    font-family: "Lato-Regular";
    font-size: 22px;
    font-weight: 400; }
  .header__popup .header__price {
    color: #f63;
    font-family: "Lato-Medium";
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 50px; }
  .header__popup .header__price0 {
    color: white;
    font-family: "Lato-Regular";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    background: #52ac62;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 176px;
    margin-bottom: 10px; }
  .header__popup .header_price_padding {
    margin-top: 35px; }
  .header__popup .header__link_and_input {
    padding-left: 25px; }
    .header__popup .header__link_and_input .header__promocode {
      width: 259px;
      height: 56px;
      color: #666;
      font-family: "Lato-Medium";
      font-size: 20px;
      font-weight: 500;
      font-style: italic;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 30px; }
    .header__popup .header__link_and_input .header__link {
      color: #303030;
      font-family: "Lato-Regular";
      font-size: 24px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: underline; }

@media only screen and (min-width: 992px) {
  .dc_footer_view {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    background: #1f191a; }
    .dc_footer_view .dc_footer_hr {
      width: 0px; }
    .dc_footer_view a {
      color: #ffffff;
      font-family: "Lato-Light";
      font-size: 30px;
      font-weight: 300;
      line-height: 43px;
      display: inline-block;
      vertical-align: middle; }
    .dc_footer_view .dc-socitem {
      display: inline-block;
      height: 51px;
      width: 51px;
      padding-bottom: 90px; }
    .dc_footer_view .dc-instagram {
      background: url("../images/dc-instagram.png") no-repeat top center;
      margin-right: 68px; }
    .dc_footer_view .dc-facebook {
      background: url("../images/dc-facebook.png") no-repeat top center;
      margin-left: 68px; }
    .dc_footer_view .dc-long-padding {
      margin-right: 68px; }
    .dc_footer_view .dc-text {
      margin-top: 15px; }
    .dc_footer_view .header__count {
      margin-left: 85px; }

  .dc_nabory_view .dc-nabory-hr {
    color: #e5e3e3;
    background: #e5e3e3;
    width: 200px;
    margin-top: 25px; }
  .dc_nabory_view .dc-nabory-menu {
    text-transform: uppercase; }
  .dc_nabory_view .dc-nabory-show .dc-nabory-show-list2 {
    margin-left: 56px; }

  .header__popup .header__link {
    margin-left: 45%; } }
body, html {
  height: 100%; }

.n-header {
  display: table-row;
  height: 1px; }

.n-content {
  display: table-row; }

.n-footer {
  display: table-row;
  height: 1px; }

.n-wrapper {
  width: 100%;
  height: 100%;
  display: table; }

.n-content-inner {
  display: table-cell;
  padding: 15px; }

.vertical-align {
  vertical-align: middle; }

/* ╨Ъ╨░╤В╨░╨╗╨╛╨│ mobile
=====================================*/
.dd-catalog-container {
  max-width: 1840px;
  width: 100%;
  margin: 0 auto; }

.dd-catalog-container2 {
  max-width: 1840px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.catalog-p-bottom {
  padding-bottom: 37px; }

.dd-catalog-title {
  text-align: center;
  padding-top: 20px; }
  .dd-catalog-title span {
    font-size: 37px;
    color: #261f1f;
    font-family: "Lato-Regular"; }

.dd-catalog-akkordeon ul li {
  display: block;
  padding: 0 10px; }
  .dd-catalog-akkordeon ul li .dd-a-border {
    display: block;
    color: #261f1f;
    font-size: 24px;
    font-family: "Lato-Regular";
    padding-bottom: 23px;
    padding-top: 23px;
    border-bottom: 1px solid black;
    background: url(../images/arrow.png) no-repeat right center; }
  .dd-catalog-akkordeon ul li .active {
    background: url(../images/red.png) no-repeat right center; }
  .dd-catalog-akkordeon ul li li {
    padding: 22px 0; }

.dd-txt {
  height: 73px;
  text-align: center; }
  .dd-txt span {
    font-family: "Lato-Semibold";
    color: #303030; }

.name-tovar span {
  font-family: "Lato-Semibold";
  color: #303030;
  font-size: 25px; }

.dd-number {
  width: 126px !important;
  height: 36px;
  margin-top: 0 !important; }
  .dd-number input[type="text"] {
    width: 45px !important; }

.dd-price {
  text-align: center; }
  .dd-price .dd-font-size {
    font-size: 25px !important; }

.dd-font-size_pt {
  padding-top: 14px; }

.dd-p-catalog {
  font-size: 18px;
  color: #372c2e;
  font-family: "Lato-Regular"; }

.dd-korz-wrap {
  text-align: center; }

.dd-catalog-poisk {
  max-width: 306px;
  margin: 50px auto 0px; }
  .dd-catalog-poisk label {
    position: relative; }
  .dd-catalog-poisk input[type="text"] {
    outline: none;
    border: 1px solid #FF662B;
    font-size: 21px;
    padding-left: 18px;
    color: #000000;
    font-family: "Lato-Regular";
    height: 64px;
    width: 100%; }
  .dd-catalog-poisk input[type="submit"] {
    position: absolute;
    top: 10px;
    right: 20px;
    background: url(../images/lup.png) no-repeat;
    outline: none;
    border: none;
    width: 45px;
    height: 41px; }

.dd-catalog-button {
  text-align: center;
  padding-top: 35px; }

.dd-sub-menu-button {
  border: 1px solid #1f191a;
  border-radius: 2px;
  display: inline-block;
  font-size: 20px;
  color: black;
  font-family: "Lato-Bold";
  padding: 20px 42px; }

.dd-sub-menu {
  display: none; }

/* ╨Ъ╨░╤В╨░╨╗╨╛╨│ dekstop
=====================================*/
.dd-catalog-pc-tab {
  height: 62px;
  margin-top: 33px;
  max-width: 1466px; }
  .dd-catalog-pc-tab li {
    display: inline-block;
    margin-left: -4px; }
    .dd-catalog-pc-tab li a {
      font-size: 16px;
      font-family: "Lato-Regular";
      color: #1c1717;
      text-transform: uppercase;
      display: inline-block;
      padding: 20px 21px;
      border: 1px solid #1f191a;
      border-radius: 3px; }
    .dd-catalog-pc-tab li .active, .dd-catalog-pc-tab li a:hover {
      background: #FF662B;
      border: 1px solid #FF662B;
      border-radius: 3px;
      color: #fff; }

.dd-catalog-pc-tab {
  float: left; }

.dd-catalog-poisk_pc {
  float: right; }

.dd-catalog-poisk_pc {
  width: 216px;
  margin-top: 33px;
  margin-left: 20px; }
  .dd-catalog-poisk_pc input[type="text"] {
    height: 64px; }

.name-tovar {
  width: 324px; }

.dd-polosa {
  border-bottom: 1px solid #E5E2E2;
  width: 184px;
  padding: 25px 15px 0px; }

.tabs_float {
  float: left; }

.dd-price2 {
  width: 100px;
  padding-left: 25px; }

.dd-korz-wrap2 {
  width: 111px; }

.dd-elements .df-number {
  width: 152px;
  height: 50px;
  padding-top: 5px; }

.df1 {
  margin-top: 90px;
  margin-bottom: 94px; }

.dd-tab-left_el_padding {
  padding-top: 13px; }

.t1 {
  display: none; }

.dfbutton {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.dd-load-more {
  text-align: center; }
  .dd-load-more a {
    font-size: 21px;
    font-family: "Lato-Regular";
    color: #1c1717;
    padding: 19px 80px 19px 13px;
    display: inline-block;
    margin-bottom: 63px;
    border: 1px solid black;
    background: url(../images/pr.png) no-repeat right 15px center; }

.dd-catalog-container2 {
  display: none; }

.marg {
  margin-top: 20px; }

@media only screen and (min-width: 480px) {
  .dd-items .dd-txt, .dd-items .dd-price, .dd-items .dd-choose {
    float: left; }
  .dd-items .dd-price {
    padding-left: 20px;
    width: 80px; }
  .dd-items .dd-choose {
    padding-left: 9px; }

  .dd-txt {
    width: 158px; }

  .dd-txt {
    text-align: left; } }
@media only screen and (min-width: 768px) {
  .dd-catalog-akkordeon ul li {
    display: block;
    padding: 0 50px; }

  .dd-items .dd-price {
    padding-left: 20px;
    padding-left: 33px;
    width: 122px; }

  .dd-txt {
    width: 271px; }

  .dd-choose {
    padding-left: 50px; } }
@media only screen and (min-width: 1248px) {
  .dd-catalog-container {
    display: none; }

  .dd-catalog-container2 {
    display: block; } }
@media only screen and (min-width: 1700px) {
  .dd-catalog-pc-tab li a {
    font-size: 22px;
    padding: 18px 35px; }

  .dd-float-wrap-for-1700 {
    float: left;
    height: 780px;
    margin-top: 34px;
    margin-bottom: 34px; }

  .dd-float-wrap-for-1700_2 {
    margin-top: 34px;
    margin-bottom: 34px;
    float: right;
    height: 780px;
    padding-left: 36px;
    border-left: 1px solid #8F8C8C; } }
.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.basket__total {
  display: -webkit-flex;
  align-items: center;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 60px; }

.total__totalprice {
  width: 42%; }

.logo__item {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px; }

.corvus img {
  width: 200px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.payment__container {
  padding-left: 0 !important;
  padding-right: 0 !important; }

section.payment {
  background: #fff; }

.payment_block {
  padding: 55px 20px 40px 20px; }

.personal__block {
  background: #f3f3f3; }

.extra__block {
  background: #fff;
  margin-bottom: 50px;
  padding-bottom: 0;
  padding-top: 0; }

.payment__head {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 55px; }

.payment__table {
  margin: 0 auto;
  width: 100%; }

.personal__info-item {
  display: block;
  position: relative; }

input[type="text"].payment__input, textarea.payment__input, select.personal__select, input[type="text"].personal__select, select.extra__select {
  width: 100%;
  max-width: 440px;
  margin-top: 32px;
  margin-bottom: 60px;
  color: #333;
  font-family: "Lato-Regular";
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 16px 0px 15px 22px;
  border-radius: 0;
  border: 1px solid #c2c2c2; }

.personal__label {
  color: #333;
  font-family: "Lato-Regular";
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  display: block;
  max-width: 440px; }

select.personal__select, input[type="text"].personal__select, select.time__select {
  font-size: 22px;
  cursor: pointer;
  height: 60px;
  font-weight: 500;
  font-style: italic;
  line-height: 21px;
  background-image: url(/images/icons/calendar.png);
  background-position: 85% 50%;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 16px 20px 15px 22px; }

select.personal__select:after, input[type="text"].personal__select:after, select.time__select:after {
  content: '';
  display: block;
  border-right: 2px solid #000;
  right: 50px; }

input[type="text"].tcal {
  padding: 16px 80px 15px 22px; }

label.data__arrow, select.data__arrow {
  position: relative;
  width: 100%; }

.date__arow {
  position: absolute;
  display: block;
  width: 15px;
  height: 9px;
  right: 15px;
  top: 96px;
  margin-top: -9px;
  background: url(/images/icons/arrow.png) 0 0 no-repeat; }

.date__arow:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background: #000;
  left: -65px;
  top: 50%;
  margin-top: -15px; }

.modified__arrow {
  top: 75px; }

.modified__arrow:before {
  content: none; }

select.time__select {
  margin-bottom: 0;
  background-image: url(/images/icons/clock.png); }

.payment__extra-info {
  background: #fff;
  padding-top: 35px;
  padding-bottom: 45px; }

select.extra__select {
  background: none; }

input[type="text"].extra__input, textarea.extra__input {
  color: #666;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lato-Italic";
  line-height: 27px;
  margin-top: 0;
  padding-right: 20px; }

input[type="text"].promo__code {
  width: 100%;
  margin-right: 12px;
  padding: 12px 15px 12px 15px; }

.promo__activate {
  background-color: #f63;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: "Lato-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding: 10px 40px 15px 35px;
  outline: 0;
  border: 0;
  margin-bottom: 30px; }

textarea.payment__input {
  height: 180px;
  resize: none;
  margin-bottom: 0; }

h2.payment__title {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 50px; }

.payment__check-block {
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }

.payment__checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  left: 33px;
  bottom: 25px; }

.payment__checkbox:not(checked) + label {
  position: relative;
  padding: 15px 0 15px 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }

.payment__checkbox:not(checked) + label:before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 35px;
  background: #fff;
  border: 1px solid #000;
  vertical-align: middle;
  margin-right: 25px;
  background: transparent; }

.payment__checkbox:checked + label:before {
  background: url(/images/icons/checked.png) 0 0 no-repeat;
  border: 0;
  width: 45px;
  margin-right: 20px; }

.payment__checkbox:checked .payment__check-block {
  background: #f3f3f3; }

.payment__info {
  padding: 12px 20px 10px 15px;
  display: none;
  position: absolute;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  width: 350px;
  z-index: 100;
  background: #fff;
  right: -32px;
  top: 35px;
  color: #9d9d9d;
  font-family: "Lato-Light";
  font-size: 18px;
  font-weight: 100;
  line-height: 18px; }

.payment__info:after, .payment__info:before {
  content: '';
  border: solid transparent;
  position: absolute;
  right: 0;
  top: 36px;
  width: 0; }

.payment__info:before {
  border-bottom-color: #d5d5d5;
  border-width: 22px;
  right: -2px;
  top: -44px; }

.payment__info:after {
  border-bottom-color: #fff;
  border-width: 20px;
  margin-left: -18px;
  top: -40px; }

.payment__label {
  color: #333;
  font-family: "Lato-Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 18px; }

.payment__label .question__mark {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: -24px;
  background: url(/images/icons/question.png) 0 0 no-repeat; }

.question__mark:hover + .payment__info {
  display: block; }

.checked__box {
  background: #f3f3f3; }

.checked__box1 {
  background: #fff; }

.agreement__label {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.agreement__link {
  color: #039;
  width: 160px;
  display: inline-block;
  vertical-align: middle;
  font-family: "Lato-Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: underline; }

.agreement__block {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px; }

.agreement__checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  left: 24px;
  bottom: 18px; }

.agreement__checkbox:not(checked) + label {
  position: relative;
  padding: 15px 0 15px 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle; }

.agreement__checkbox:not(checked) + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid #000;
  vertical-align: middle;
  margin-right: 22px; }

.agreement__checkbox:checked + label:before {
  background: url(/images/icons/checked__green.png) 0 0 no-repeat;
  border: 0;
  width: 22px;
  margin-right: 20px; }

.submit.payment__btn {
  border-radius: 2px;
  max-width: 230px;
  color: white;
  font-family: "Lato-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 90px 15px 20px;
  background: #f63 url(/images/icons/money.png) 145px center no-repeat; }

.conditions__head {
  color: #3b3b3b;
  font-family: "Lato-Regular";
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  text-transform: uppercase;
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px; }

.conditions__paragraph {
  color: #3b3b3b;
  font-family: "Lato-Light";
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 60px; }

.conditions__paragraph:last-child {
  margin-bottom: 45px; }

.conditions__block {
  padding-left: 20px;
  padding-right: 20px; }

.arrow__wrap {
  position: relative;
  width: 100%;
  height: 50px; }

.td__bg {
  display: block; }

h2.basket__title {
  color: #261f1f;
  font-size: 37px;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 30px; }

tr:first-child {
  height: 100% !important; }

.basket__list {
  width: 100%;
  margin-bottom: 45px; }

.basket__item {
  border-top: 1px solid #e5e5e5; }

.basket__item td {
  vertical-align: middle; }

.basket__item td:first-child {
  padding: 0 0px 0 15px; }

.close__btn {
  position: absolute;
  right: 12px;
  top: -135px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url(/images/icons/close_btn.png) 0 0 no-repeat; }

.basket__item-info {
  padding-left: 22px;
  padding-right: 72px;
  width: 55%;
  color: #333;
  font-family: "Lato-Regular";
  line-height: 30px;
  height: 100%; }

.basket__item-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  display: block;
  margin-bottom: 20px; }

.basket__item-description {
  font-size: 18px;
  font-weight: 400; }

.basket__item-totalprice {
  margin-bottom: 15px; }

.basket__totalprice-text {
  padding: 0px 40px;
  line-height: 40px;
  background: #52ac62;
  color: white;
  font-family: "Lato-Regular";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  width: 145px; }

.basket__oneprice-text {
  color: #555;
  font-family: "Lato-Regular";
  font-size: 18px;
  font-weight: 500; }

.modified__item {
  display: block;
  padding: 0 !important; }

.modified__item:nth-child(3) {
  margin-bottom: 20px;
  text-align: center; }

.modified__item:nth-child(5) {
  position: relative; }

.df-number {
  border: 1px solid #1f191a;
  border-radius: 2px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 20px; }

.df-number input[type="text"].number__input {
  color: #333;
  font-family: "Lato-Regular";
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  vertical-align: top;
  margin-top: 6px; }

.df-number .dfbutton {
  display: inline-block;
  width: 34px;
  height: 31px;
  padding-top: 0px;
  color: #333;
  font-family: "Lato-Regular";
  font-size: 21px;
  cursor: pointer;
  color: transparent;
  margin-top: 3px;
  margin-bottom: 5px; }

.df-number .dfbutton2 {
  padding-left: 14px;
  border-right: 1px solid #1f191a;
  background: url(/images/icons/min.png) no-repeat center; }

.df-number .dfbutton3 {
  border-left: 1px solid #1f191a;
  background: url(/images/icons/plus.png) no-repeat center; }

.df-number input[type="text"] {
  width: 70px;
  background: #fff;
  border: none;
  outline: none;
  font-family: "UbuntuBold";
  color: black;
  text-align: center; }

@media only screen and (min-width: 768px) {
  .basket__item td:first-child {
    padding: 0 60px 0 60px; }

  .basket__total {
    background: #f9f9f9;
    padding: 15px 60px 15px 60px;
    margin-bottom: 60px; } }
.total__text {
  color: #2e2834;
  font-family: "Lato-Regular";
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 15px;
  border-right: 1px solid #efeeee;
  display: inline-block;
  vertical-align: middle; }

.total__number {
  color: #2e2834;
  font-family: "Lato-Regular";
  font-size: 22px;
  font-weight: 400;
  padding-left: 18px;
  display: inline-block;
  vertical-align: middle; }

.total__totalprice {
  color: #f63;
  font-family: "Lato-Regular";
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: right; }

.basket__continue-purchase {
  color: #303030;
  font-family: "Lato-Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-bottom: 60px; }

.submit.basket__submit {
  color: white;
  font-family: "Lato-Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 440px;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px; }

.desktop__shown {
  display: none; }

.mobile__shown {
  display: block;
  text-align: center;
  margin-bottom: 20px; }

.promo__block {
  display: none; }

input[type="text"].promo__input {
  border-radius: 0;
  color: #666;
  font-family: "Lato-Italic";
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  padding: 15px 30px;
  width: 240px;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle; }

input[type="text"].promo__code {
  width: 100%; }

.submit.promo__submit {
  width: 200px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-left: -4px; }

@media only screen and (min-width: 480px) {
  .total__totalprice {
    width: 60%; }

  input[type="text"].promo__code {
    width: 45% !important; }

  .promo__activate {
    width: 45%;
    margin-bottom: 0; }

  .date__arow:before {
    left: -100px; } }
@media only screen and (min-width: 768px) {
  .total__totalprice {
    width: 68%; }

  .header__mail {
    font-size: 25px; } }
@media only screen and (min-width: 992px) {
  .basket__total {
    justify-content: center; }

  input[type="text"].payment__input, textarea.payment__input, select.personal__select, input[type="text"].personal__select, select.extra__select {
    padding-right: 110px;
    font-size: 25px; }

  .date__arow:before {
    left: -80px; }

  .personal__info-item {
    display: table-cell; }

  input[type="text"].payment__input, textarea.payment__input, select.choose__marina {
    width: 90%;
    max-width: 240px;
    margin-top: 0;
    margin-bottom: 0;
    color: #333;
    font-family: "Lato-Regular";
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    padding: 7px 10px 8px 15px; }

  .personal__block tbody tr:first-child input[type="text"].payment__input {
    font-size: 21px !important; }

  input[type="text"].personal__select, select.personal__select {
    padding: 0;
    padding-left: 24px;
    padding-right: 65px; }

  .data__arrow {
    margin-right: 35px !important; }

  .personal__block .personal__label, input[type="text"].payment__input {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px; }

  .date__arow {
    position: absolute;
    display: block;
    width: 15px;
    height: 9px;
    left: 88%;
    top: 83px;
    margin-top: 0px; }

  .date__arow:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background: #000;
    left: -52px;
    top: 50%;
    margin-top: -15px; }

  input[type="text"].extra__input, select.extra__select {
    display: block;
    width: 100%;
    max-width: 440px;
    margin-top: 35px; }

  .modified__arrow {
    right: 25px;
    top: 24px; }

  .extra__info {
    width: 35%;
    max-width: 580px;
    vertical-align: top;
    padding-left: 20px; }

  .extra__info:nth-child(2) {
    padding-top: 57px; }

  .extra__info:last-child {
    max-width: 630px;
    padding-left: 30px;
    padding-top: 62px; }

  select.extra__select {
    margin-top: 0;
    margin-bottom: 0; }

  .personal__block {
    margin-bottom: 70px; }

  textarea.extra__input {
    max-width: 630px;
    width: 100%;
    margin-top: 40px;
    height: 135px; }

  input[type="text"].extra__input, select.extra__select {
    border: 1px solid #1f191a;
    border-radius: 3px; }

  input[type="text"].payment__input, textarea.payment__input, select.personal__select, input[type="text"].personal__select, select.extra__select {
    border: 1px solid #1f191a; }

  a.promo__activate {
    width: 48%;
    max-width: 260px;
    line-height: 50px !important;
    font-size: 18px !important;
    text-align: center;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    float: right; }

  input[type="text"].promo__code {
    height: 50px;
    display: inline-block;
    max-width: 225px !important;
    font-size: 11px;
    padding-left: 14px;
    padding-right: 12px;
    vertical-align: middle;
    margin-bottom: 0;
    float: left;
    margin-top: 0;
    padding-bottom: 13px;
    border-radius: 0; }

  .payment__info {
    width: 820px;
    z-index: 100;
    background: #fff;
    left: 110%;
    top: -8px; }

  .payment__info:after, .payment__info:before {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 0;
    top: 36px;
    width: 0; }

  .payment__info:before {
    border-right-color: #d5d5d5;
    border-width: 22px;
    left: -44px;
    top: -2px; }

  .payment__info:after {
    border-right-color: #fff;
    border-width: 20px;
    margin-left: -39px;
    top: 0px; }

  .agreement__block {
    text-align: right;
    padding-right: 100px; }

  .agreement__link {
    width: 320px;
    text-align: left; }

  .td__bg {
    display: block; }

  select.personal__select, input[type="text"].personal__select, select.time__select {
    height: 50px; }

  .conditions__head {
    background: #fff; }

  .conditions__head::after {
    content: '';
    width: 200px;
    height: 2px;
    background: #e5e3e3;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle; }

  .promo__block {
    display: inline-block; }

  .modified__item {
    display: table-cell; }

  .basket__item {
    border-top: 1px solid #e5e5e5; }

  .basket__item td {
    vertical-align: middle; }

  .basket__item td:first-child {
    padding-top: 50px;
    padding-bottom: 25px; }

  .desktop__shown {
    display: table-cell; }

  .mobile__shown {
    display: none; }

  .promo__block {
    margin-bottom: 20px;
    float: left; }

  .submit.basket__submit {
    max-width: 230px;
    margin-left: 10%; }

  .basket__continue-purchase, .submit.basket__submit {
    display: inline-block; }

  .basket__bottom {
    float: right;
    width: 54%; }

  .total__number {
    margin-left: 52%; }

  .basket__item td:first-child {
    padding-right: 0;
    max-width: 830px;
    display: block;
    width: 100%;
    max-width: 830px; }

  .df-number {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }

  .close__btn {
    top: 20px; }

  .total__number {
    margin-left: 52%; }

  .total__totalprice {
    width: 26% !important; } }
@media only screen and (min-width: 1248px) {
  .dd-tab-left {
    padding-left: 40px; }

  .pad {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px; }

  a.promo__activate {
    font-size: 20px !important; }

  input[type="text"].payment__input, textarea.payment__input, select.choose__marina {
    font-size: 16px; }

  input[type="text"].promo__code {
    font-size: 12px; }

  input[type="text"].promo__input {
    width: 300px;
    max-width: 500px; }

  .total__number {
    margin-left: 54%; } }
@media only screen and (min-width: 1400px) {
  input[type="text"].payment__input, textarea.payment__input, select.choose__marina {
    font-size: 16px; }

  .total__totalprice {
    width: 26% !important; } }
@media only screen and (min-width: 1750px) {
  input[type="text"].promo__input {
    width: 500px;
    max-width: 500px; } }
.pad {
  padding-left: 15px; }

.hover {
  background-color: #ff6633 !important; }

.payment__btn {
  margin-top: 20px; }

@media only screen and (min-width: 480px) {
  .dd-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; } }
@media only screen and (min-width: 1400px) {
  .submit.basket__submit {
    max-width: 270px; }

  .submit.promo__submit {
    width: 255px; }

  input[type="text"].promo__input {
    width: 260px; }

  .basket__bottom {
    width: 46%; } }
@media only screen and (min-width: 1700px) {
  .dd-float-wrap-for-1700, .dd-float-wrap-for-1700_2 {
    width: 830px; } }
.header {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #669966; }
  .header a {
    text-decoration: none; }

.img-link-header {
  width: 60px;
  height: 40px; }

.header__inner_wrapper {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center; }

.header__left_wrapper {
  justify-content: flex-start;
  padding-left: 3%; }

.header__right_wrapper {
  justify-content: flex-end;
  padding-right: 2%; }

.header__left_wrapper, .header__right_wrapper {
  justify-content: space-around; }

.header__language_btn {
  display: block;
  width: 39px;
  height: 41px;
  background: url("../img/russia.png") top no-repeat;
  background-size: contain;
  position: relative; }

.header__lang {
  position: relative; }

.language_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: auto;
  color: #ffffff;
  font-family: Lato;
  font-size: 19px;
  font-weight: 600;
  line-height: 19px; }

.header__language_list {
  display: none;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  width: 39px;
  height: auto;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.language__option {
  color: black;
  font-family: Lato;
  font-size: 19px;
  font-weight: 600;
  line-height: 19px; }
  .language__option:hover {
    text-decoration: underline; }

.header__mail {
  margin-right: 50px;
  color: #ffffff;
  font-family: Lato;
  font-size: 0;
  font-weight: 700;
  line-height: 30px;
  position: relative; }
  .header__mail:hover {
    text-decoration: underline; }

.header__mailing_icon {
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/email.png") center no-repeat;
  background-size: contain;
  width: 51px;
  height: 29px; }

.header__basket {
  width: 51px;
  height: 43px;
  background: url("../img/shopping-basket.png") center no-repeat;
  background-size: contain; }

.header__menu_mobile {
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/menu_mobile.png") center no-repeat;
  background-size: contain; }

@media only screen and (min-width: 480px) {
  .header {
    padding-top: 35px;
    padding-bottom: 25px; }

  .header__left_wrapper {
    justify-content: flex-start; }

  .header__right_wrapper {
    justify-content: flex-end; }

  .header__mailing_icon {
    left: -76px; }

  .header__menu_mobile {
    display: none; } }
@media only screen and (min-width: 992px) {
  .header__language_btn {
    margin-left: 70px; }

  .header__left_wrapper {
    padding-left: 10%; }

  .header__right_wrapper {
    padding-right: 10%; }

  .header__mail {
    margin-right: 80px;
    font-size: 30px; } }
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/preparing-grilled-salmon-steak-picjumbo-com.png") center no-repeat;
  background-size: cover; }

.banner__menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 145px;
  display: none;
  background-color: rgba(28, 23, 23, 0.8); }

.banner__menu_list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 50px;
  justify-content: space-around; }

.banner__menu_link {
  text-decoration: none;
  color: #ffffff;
  font-family: Lato-Light;
  font-size: 14px;
  font-weight: 300;
  line-height: 43px; }
  .banner__menu_link:hover {
    text-decoration: underline; }

.banner__text {
  position: absolute;
  bottom: 40px;
  right: 0;
  width: 80%;
  background: url("../img/banner_text_back.png") center no-repeat;
  background-size: cover; }

.banner__text_p {
  padding-top: 35px;
  padding-bottom: 27px;
  padding-left: 27px;
  padding-right: 55px;
  color: #ffffff;
  font-family: Lato-Light;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px; }

@media only screen and (min-width: 768px) {
  .banner {
    height: 100vh; }

  .banner__menu {
    display: block; }

  .banner__menu_link {
    font-size: 18px; }

  .banner__text {
    bottom: 260px;
    right: 15px;
    width: 60%; }

  .banner__text_p {
    font-size: 26px;
    font-weight: 400;
    line-height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 55px;
    padding-right: 50px; } }
@media only screen and (min-width: 992px) {
  .banner__menu {
    height: 174px; }

  .banner__text_p {
    font-size: 44px;
    padding-left: 60px;
    padding-right: 55px; }

  .banner__text {
    bottom: 320px; }

  .banner__menu_link {
    font-size: 23px; } }
@media only screen and (min-width: 1248px) {
  .banner__menu_link {
    font-size: 28px; } }
.clear {
  clear: both; }

.center {
  text-align: center; }

h1 {
  color: #2e2834;
  font-family: "Lato-Regular";
  font-size: 60px;
  font-weight: 400;
  line-height: 42px; }

h2 {
  color: #2e2834;
  font-family: "Lato-Regular";
  font-size: 36px;
  font-weight: 400;
  line-height: 42px; }

.input__text {
  width: 267px;
  background-color: #fff;
  border-radius: 3px;
  color: #333;
  font-family: "Lato-Bold";
  outline: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  border: 1px solid #1f191a; }

.button-1 {
  background-color: #f63;
  border-radius: 3px;
  color: white;
  font-family: "Lato-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding: 13px 40px 13px 45px;
  outline: 0;
  border: 0; }

.submit {
  border-radius: 2px;
  border: 0;
  color: white;
  font-family: "Lato-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 21px;
  padding: 15px 90px 15px 20px;
  background: #f63; }

.select__input {
  font-family: "Lato-Italic";
  font-size: 22px;
  cursor: pointer;
  height: 60px;
  font-weight: 500;
  font-style: italic;
  line-height: 21px;
  background-color: #fff;
  padding: 16px 20px 15px 22px; }
  .select__input:after {
    content: '';
    display: block;
    border-right: 2px solid #000;
    right: 50px; }

.section_padding {
  padding: 20px 0; }

.container {
  width: 100% !important;
  max-width: 1750px; }

.button-3 {
  background: #ff6633;
  color: white;
  font-family: "Lato-Bold";
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  width: 300px;
  height: 75px;
  margin-top: 62px;
  border: none;
  padding: 0px 0px 0px 0px !important; }

h2 {
  font-family: "Lato-Regular";
  color: #2e2834;
  font-size: 60px;
  font-weight: 400;
  line-height: 72px;
  padding-top: 80px;
  padding-bottom: 80px; }

.button-2 {
  background: #f2f3f2;
  color: #1f191a;
  font-family: "Lato-Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  width: 281px;
  height: 66px;
  margin-top: 86px;
  margin-bottom: 66px; }

.select-1 {
  color: #333;
  font-size: 22px;
  line-height: 21px;
  font-family: "Lato-Bold";
  font-weight: 700;
  background-color: white;
  border: 1px solid #1f191a;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 280px;
  height: 50px; }

.button-4 {
  width: 230px;
  height: 50px;
  background-color: #52ac62;
  color: white;
  font-family: "Lato Bold";
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  background-image: url("../images/dc-basket.png");
  background-repeat: no-repeat;
  background-position: 90% 40%;
  padding-right: 50px;
  border: none; }

.button-4:hover {
  background-color: #ff6633; }

.select-2 {
  width: 170px; }

.select-3 {
  width: 80px; }

.select-4 {
  width: 80px; }

/*# sourceMappingURL=style.css.map */
