@import "reset.css";
@import "fonts.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "style5.css";
@import "style6.css";
@import "style7.css";
@import "style8.css";
@import "style9.css";
@import "style10.css";

.clear{
    clear: both;
}
.center{
	text-align: center;
}

.section_padding{
	padding:20px 0;
}



.container{
  width: 100%;
  max-width: 1500px;
}


.button-1 {
    background: #ff6633;
	color: white;
	font-family: "Lato-Bold";
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	width: 300px;
	height: 75px;
	margin-top: 62px;
	border: none;
}

h2 {
	font-family: "Lato-Regular";
	color: #2e2834;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.button-2 {
	background: #f2f3f2;
    color: #1f191a;
	font-family: "Lato-Bold";
	font-size: 22px;
	font-weight: 700;
	line-height: 21px;
	width: 281px;
	height: 66px;
	margin-top: 86px;
	margin-bottom: 66px;
}

.select-1 {
	color: #333;
	font-size: 22px;
	line-height: 21px;
	font-family: "Lato-Bold";
	font-weight: 700;
	background-color: white;
	border: 1px solid #1f191a;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}


