

.dc_footer_view {
	background: #ffffff;
	color: #1f191a;

	.dc_footer_hr {
		color: #e5e5e5;
		background-color: #e5e5e5;
	}
}


@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

.dc_footer_view {
	background: #1f191a;
	color: #ffffff;
}	

}

@media only screen and (min-width : 1248px) {
}

