

.dc_footer_view {
	background: #ffffff;

	.dc_footer_hr {
		color: #e5e5e5;
		background-color: #e5e5e5;
		width: 90%;
	}

	a {
		color: #1f191a;
	    font-family: "Lato-Light";
		font-size: 30px;
		font-weight: 300;
		line-height: 43px;
	}

    .dc-socitem {
        display: inline-block;
	    height: 51px;
	    width: 51px;
	    margin-top: 18px;        
    }

	.dc-instagram {
	    background: url("../images/dc-instagram-mobile.png") no-repeat top center;
	}

	.dc-facebook {
	    background: url("../images/dc-facebook-mobile.png") no-repeat top center;
	}

	text-align: center;
}


.dc_about_view {
    text-align: center;
    
    .dc-about-text {
        text-align: justify;
        color: #2e2834;
		font-family: "Lato-Light";
		font-size: 20px;
		font-weight: 300;
		line-height: 61px;
		margin-bottom: 80px;	
    }

    .dc-about-text2 {
	    color: #1f191a;
		font-family: "Lato-Light";
		font-size: 24px;
		font-weight: 300;
		line-height: 37px;
	}

    .dc-about-title {
		color: #1f191a;
		font-family: "Lato-Bold";
		font-size: 28px;
		font-weight: 700;
		line-height: 30px;
	}

	.dc-about-hr {
		color: #f57365;
		background-color: #f57365;
		width: 90px;
	}

	.dc-how {
		background: #f2f3f2;
	}
}

.dc_nabory_view {
    text-align: center;
    
    .dc-nabory-text {
        text-align: justify;
        color: #2e2834;
		font-family: "Lato-Light";
		font-size: 20px;
		font-weight: 300;
		line-height: 61px;
		margin-bottom: 80px;	
    }

    .dc-nabory-choose {
    	color: #333;
		font-family: "Lato-Semibold";
		font-size: 25px;
		font-weight: 600;
		line-height: 31px;
		margin-top: 15px;
		margin-bottom: 5px;
    }

    .dc-nabory-select_and_choose {
    	background: #f3f3f3;
    	padding-top: 50px;
    	padding-bottom: 50px;
    }

    .dc-nabory-menu {
    	color: #3b3b3b;
		font-family: "Lato-Bold";
		font-size: 24px;
		font-weight: 700;
		line-height: 60px;		
    }

    .dc-nabory-hr {
        color: #e5e3e3;
        background: #e5e3e3;
        width: 0px;	
    }

    .dc-nabory-image {
        width: 130%;
    }

    .dc-nabory-title {
    	color: #1a1a1a;
		font-size: 24px;
		text-transform: uppercase;		
		font-family: "Lato-Bold";
		font-weight: 700;
		text-align: left;
    }

    .dc-nabory-text2 {
	    color: #1a1a1a;
		font-family: "Lato-Regular";
		font-size: 20px;
		font-weight: 400;
		text-align: justify;				
    }


    .dc-nabory-block-hr2 {
		text-align: left;
	    .dc-nabory-hr-2 {
	    	width: 200px;  
	    }
    }

    .dc-nabory-show {
    	text-align: left;
		margin-top: 10px;
		margin-bottom: 30px;

	    .dc-nabory-show-list {
	    	color: #52ac62;
	    	text-decoration: none; 
	    	border-bottom: 1px dashed #52ac62;
			font-family: "Lato-Heavy";
			font-size: 24px;
			font-weight: 800;
	    }

	    .dc-nabory-show-list2 {
	    	color: #ff6633;
	    	text-decoration: none;
	    	border-bottom: 1px dashed #ff6633;
			font-family: "Lato-Heavy";
			font-size: 24px;
			font-weight: 800;
	    }
    }

    
    .dc-nabory-to-basket {
    	text-align: left;
    }

    .for_padding {
    	padding-bottom: 46px;
    	padding-top: 46px
    }

    .for_padding:nth-child(odd) {
        background: #f3f3f3;
    }

    .dc-nabory-to-basket-padding {
    	margin-top: 100px;
    }

	/* Скрываем реальный чекбокс */
	.checkbox {
	    display: none;
	}
	 
	/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
	.checkbox-custom {
	    position: relative;      /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
		width: 38px;
		height: 35px;
		background-color: white;
		border: 1px solid #1f191a;
		border-radius: 0px;
        margin-top: 7px;
	}
	 
	/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
	.checkbox-custom,
	.label {
	    display: inline-block;
	    vertical-align: middle;
	}
	 
	/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
	.checkbox:checked + .checkbox-custom::before {
	    content: "";             /* Добавляем наш псевдоэлемент */
	    display: block;          /* Делаем его блочным элементом */
	    position: absolute;      /* Позиционируем его абсолютным образом */
	 
	    /* Задаем расстояние от верхней, правой, нижней и левой границы */
	    top: -2px;
	    right: -5px;
	    bottom: -2px;
	    left: -2px;
	    background: white url("../images/dc-checkbox.png") no-repeat;/* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */	    
	}

    .dc-wine {
        color: #333;
		font-family: "Lato-Regular";
		font-weight: 400;
		line-height: 18px;
		font-size: 20px;
		margin-left: 20px;
    }

    .dc-wine-small {
        color: #333;
		font-family: "Lato-Regular";
		font-weight: 400;
		line-height: 10px;
		font-size: 18px;
		margin-left: 68px;

    }

    .dc-ul {
    	margin:0;
    	padding: 0;
    	text-align: left;
    }

    .dc-li:nth-child(even) {
    	background: #f2f3f2;
    }

    .dc-li1:nth-child(even) {
    	background: white;
    }

    .dc-li {
    	height: 64px;
    }

    .dc-li1 {
    	height: 64px;
    }
}

.dc_owr_nabory_view {
	text-align: center;

	.dc-our-kits-image {
		border-radius: 3px;
		box-shadow: 4px 0 16.4px 1.6px rgba(0, 0, 0, 0.2);
		width: 80%;
	}

	.dc-our-title {
		color: #1f191a;
		font-family: "Lato-Bold";
		font-size: 22px;
		font-weight: 700;
		line-height: 21px;
		margin-top: 25px;
		margin-bottom: 35px;
		height: 30px;
	}

	.dc-our-text {
		color: #1f191a;
		font-family: "Lato-Light";
		font-size: 20px;
		font-weight: 300;
		line-height: 26px;
		margin-bottom: 30px;
	}
}

.header__popup {
	display: none;
    background: #ffffff;

	z-index: 100;
    position: fixed;
    left:25%;
    top: 120px;

    height:550px;
    width:70%;

	.button-6 {
        width: 316px;
        height: 66px;
        margin-top: 45px;
        background: #52ac62;
	}

	.button-7 {
        background: #ff6633;
	}

	.button-8 {
        background: #52ac62;
	}

	.button-9 {
        width: 258px;
        height: 57px;
        border: none;
        float: left;
        margin: 10px;
		color: white;
		font-family: "Lato-Regular";
		font-size: 24px;
		font-weight: 400;
		line-height: 43px;        
	}

	.header__wine {
		color: #333;
		font-family: "Lato-Semibold";
		font-size: 22px;
		font-weight: 600;
		line-height: 30px;
	}

	.header__wine_small {
		color: #372c2e;
		font-family: "Lato-Regular";
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}

    .header__dollar {
		color: #555;
		font-family: "Lato-Medium";
		font-size: 18px;
		font-weight: 500;
    }

    .header__widget {
    	color: #333;
		font-family: "Lato-Bold";
		font-size: 17px;
		font-weight: 700;
		line-height: 17px;
    }

    .header__footer {
    	background: #f9f9f9;
    }

    .header__all {
    	color: #2e2834;
		font-family: "Lato-Bold";
		font-size: 19px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
    }

    .header__count {
		color: #2e2834;
		font-family: "Lato-Regular";
		font-size: 22px;
		font-weight: 400;    	
    }

    .header__price {
	    color: #f63;
		font-family: "Lato-Medium";
		font-size: 22px;
		font-weight: 500;
		text-transform: uppercase;
	}

	.header__promocode {
		width: 259px;
		height: 56px;
		color: #666;
		font-family: "Lato-Medium";
		font-size: 20px;
		font-weight: 500;
		font-style: italic;
        margin: 10px;		
	}

	.header__link {
		color: #303030;
		font-family: "Lato-Regular";
		font-size: 24px;
		font-weight: 400;
		line-height: 18px;
		text-decoration: underline;
	}
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

.dc_footer_view {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;

	.dc_footer_hr {
        width: 0px;
	}

	background: #1f191a;
	a {
	    color: #ffffff;
	    font-family: "Lato-Light";
		font-size: 30px;
		font-weight: 300;
		line-height: 43px;
		display: inline-block;
		vertical-align: middle;
	}

    .dc-socitem {
        display: inline-block;
	    height: 51px;
	    width: 51px;	    
	    padding-bottom: 90px;
    }

	.dc-instagram {
	    background: url("../images/dc-instagram.png") no-repeat top center;
	    margin-right: 68px;	    
	}

	.dc-facebook {
	    background: url("../images/dc-facebook.png") no-repeat top center;
	    margin-left: 68px;
	}

	.dc-long-padding {
	    margin-right: 68px;	
	}

	.dc-text {
		margin-top: 15px;
	}	
}	

.dc_nabory_view {
    .dc-nabory-hr {
        color: #e5e3e3;
        background: #e5e3e3;
        width: 200px;
        margin-top: 25px;	
    }

    .dc-nabory-menu {
    	text-transform: uppercase;
    }

    .dc-nabory-show {
	    .dc-nabory-show-list2 {
			margin-left: 56px;
	    }
    }
}

}

@media only screen and (min-width : 1248px) {
}

